.sidebar {
    width: 304px;
    padding: 24px;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
  
  .title {
    font-weight: 600;
    line-height: 20px;
    color: white;
  }
  
  .menu {
    margin-top: 32px;
    display: grid;
    gap: 15px;
  }
  
  .link {
    color: rgba(97, 110, 116, 1);
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
  }
  
  .link:hover {
    color: var(--white);
  }
  
  .link.active {
    color: var(--violet);
  }
  
  .footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
  }
  nav{
    height: auto;
  }
